.btn_auth {
    background: linear-gradient(95.37deg, #21D084 -0.37%, #4AB3F4 100.81%);
    border-radius: 7px;
    border: none;
    color: white;
    padding: 39px 228px;
    font-size: 48px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    transition: 1s;
    z-index: 3;
    margin-top: 39px;
}

.btn_auth::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(95.37deg, #21D084 -0.37%, #4AB3F4 100.81%);
    filter: blur(20px);
    opacity: 1;
    z-index: -1;
}

.btn_auth:hover {
    scale: 1.1;
}

.btn_auth:active {
    scale: 0.85;
}

.register-window h2 {
    font-size: 64px;
}

/* Адаптив для экранов до 1360px */
@media (max-width: 1360px) {
    .register-window {
        width: 600px;
        /* уменьшаем ширину формы */
        padding: 30px;
    }

    .form-row .send-code {
        top: 25px;
    }

    .register-window h2 {
        font-size: 48px;
        text-align: center;
    }

    .form-input {
        font-size: 32px;
        padding: 15px 10px;
        width: 100%;
        margin-bottom: 20px;
    }

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .btn_auth {
        padding: 20px 60px;
        font-size: 36px;
    }

    .links a {
        font-size: 24px;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
}

/* Адаптив для экранов до 768px */
@media (max-width: 768px) {
    .register-window {
        width: 90%;
        padding: 20px;
    }

    .register-window h2 {
        font-size: 36px;
    }

    .form-row .send-code {
        top: 15px;
    }

    .form-input {
        font-size: 24px;
        padding: 10px 8px;
    }


    .btn_auth {
        padding: 15px 40px;
        font-size: 28px;
    }

    .links a {
        font-size: 18px;
    }
}

/* Адаптив для экранов до 480px */
@media (max-width: 480px) {
    .register-window h2 {
        font-size: 28px;
    }

    .form-input {
        font-size: 20px;
    }

    .send-code {
        font-size: 20px;
        padding: 8px;
    }

    .btn_auth {
        padding: 12px 30px;
        font-size: 22px;
    }

    .links a {
        font-size: 16px;
    }
}